// Variables

// Color Palette
$white: #fff !default;
$black: #000 !default;

$blue-light: #e6d2e7 !default;
$blue: #8166cd !default;
$blue-dark: #312457 !default;
$yellow: #ffd33d !default;
$orange: #ff813a !default;
$pink-light: #fff5f5 !default;
$pink: #ff6b6b !default;
$red: #c1121f !default;
$green: #d62828 !default;
$green-dark: #a61e1e !default;
$brown: #836643 !default;

// Typography
$font-size-base: 24px !default;
$font-size-small: 16px !default;
